{% extends 'actions/main.html' %}

{% block content %}


<body>
    <div class="container d-flex p-2 justify-content-between flex-row bd-highlight">
        <h1>Things I need to do:</h1>
        <a class="fa-solid fa-lg fa-plus" role="button" href="/add-action/"></a>
    </div>

    <div class="container d-flex p-2 flex-column bd-highlight">
        {% for action in filtered_actions %}
        {% if action.done_status == False %}
            <div class="p-2 card bd-highlight">
                <div class="d-flex justify-content-between flex-row bd-highlight">
                    <h5 class="card-title bd-highlight">{{ action.title }}</h5>
                    <h6 class="card-subtitle bd-highlight">{{ action.tracked_time }}</h6>
                </div>
                <div class="d-flex justify-content-between flex-row bd-highlight">
                    <h6 class="text-muted">{{ action.priority }}</h6>
                    <h6 class="text-muted">{{ action.category }}</h6>
                    <h6 class="text-muted">{{ action.action_date|date:"Y-m-d" }}</h6>
                </div>
                    <div class="icon-outer-container">
                        <div class="icon-container">
                            <div>
                            {% if action.tracking_status == False %}
                                    <a class="fa-solid fa-lg fa-hourglass p-2 bd-highlight" role="button" href="{% url 'start_timer' action.id %}"></a>
                            {% endif %}
                            {% if action.tracking_status == True %}
                                    <a class="fa-solid fa-lg fa-hourglass-end p-2 bd-highlight" role="button" href="{% url 'stop_timer' action.id %}"></a>
                            {% endif %}

                                    <a class="fa-solid fa-lg fa-check p-2 bd-highlight" role="button" href="{% url 'complete_action' action.id %}"></a>


                                    <a class="fa-solid fa-lg fa-pen-to-square p-2 bd-highlight" role="button" href="{% url 'update_action' action.id %}"></a>


                                    <a class="fa-solid fa-lg fa-trash p-2 bd-highlight" role="button" href="{% url 'delete_action' action.id %}"></a>
                                </div>        

                        </div>
                </div>
            </div>
            <br>

            {% endif %}
            {% empty %}
            <H2 class="p-2 bd-highlight">You have nothing to do.</H2>
            {% endfor %}
    <hr>
    <div class="container d-flex p-2 justify-content-between flex-row bd-highlight">
        <h1>Things I've Done:</h1>
    </div>

    <div class="container d-flex p-2 flex-column bd-highlight">
        {% for action in filtered_actions %}
        {% if action.done_status == True %}
            <div class="p-2 card bd-highlight">
                <div class="d-flex justify-content-between flex-row bd-highlight">
                    <h5 class="card-title bd-highlight">{{ action.title }}</h5>
                    <h6 class="card-subtitle bd-highlight">{{ action.tracked_time }}</h6>
                </div>
                <div class="d-flex justify-content-between flex-row bd-highlight">
                    <h6 class="text-muted">{{ action.priority }}</h6>
                    <h6 class="text-muted">{{ action.category }}</h6>
                    <h6 class="text-muted">{{ action.action_date|date:"Y-m-d" }}</h6>
                </div>
                <div class="d-flex justify-content-between flex-row bd-highlight">
                <div>
                    <a class="fa-solid fa-lg p-2 fa-rotate-left" role="button" href="{% url 'complete_action' action.id %}"></a>
                </div>
                </div>
            </div>
    </div>
    <br>

        {% endif %}
        {% endfor %}
    <hr>
    <div class="container d-flex p-2 justify-content-between flex-row bd-highlight">
        <h1>Active Priorities:</h1>
    </div>
    {% for priority in priorities %}
    {% if priority.activeStatus == True %}

    <div class="container d-flex p-2 flex-column bd-highlight">
        <div class="card p-2 bd-highlight">
            <div class="card-body">
            <h5 class="card-title">{{ priority.title }}</h5>
            <h6 class="card-text text-muted">{{ priority.description }}</h6>
            <h6 class="card-title text-muted">{{ priority.category }}</h6>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
    <hr>
    <div class="container d-flex p-2 flex-column bd-highlight">
        <div class="card p-2 bd-highlight">
            <div class="card-body p-2 bd-highlight">
                <h3 class="card-title">Time - Today</h3>
                <div class="d-flex justify-content-between flex-row bd-highlight">
                    <div>
                        <h5 class="card-title">Completed Actions</h5>
                        <h6 class="card-text text-muted">{{ completed_actions_count }}</h6>
                    </div>
                    <div>
                        <h5 class="card-title">Open Actions</h5>
                        <h6 class="card-text text-muted">{{ open_actions_count }}</h6>
                    </div>
                </div>
                <div class="d-flex justify-content-between flex-row bd-highlight">
                    <div>
                        <h5 class="card-title">Total Actions</h5>
                        <h6 class="card-text text-muted">{{ total_actions_count }}</h6>
                    </div>
                    <div>
                        <h5 class="card-title">Total Time Tracked</h5>
                        <h6 class="card-text text-muted">{{ converted_tracked_time }}</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container d-flex p-2 flex-column bd-highlight">
        <div class="card p-2 bd-highlight">
            <div class="card-body p-2 bd-highlight">
                <h3 class="card-title">Focus - Today</h3>
                <div class="d-flex justify-content-between flex-row bd-highlight">
                    <div>
                        <h5 class="card-title">% On Priority</h5>
                        <h6 class="card-text text-muted">{{ on_priority_perc|floatformat:2 }}%</h6>
                    </div>
                    <div>
                        <h5 class="card-title">% Off Priority</h5>
                        <h6 class="card-text text-muted">{{ off_priority_perc|floatformat:2 }}%</h6>
                    </div>
                </div>
                <div class="d-flex justify-content-between flex-row bd-highlight">
                    <div>
                        <h5 class="card-title">Time On Priority</h5>
                        <h6 class="card-text text-muted">{{ converted_on_priority_time }}</h6>
                    </div>
                    <div>
                        <h5 class="card-title">Time Off Priority</h5>
                        <h6 class="card-text text-muted">{{ converted_off_priority_time }}</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container d-flex p-2 flex-column bd-highlight">
        <div class="card p-2 bd-highlight">
            <div class="card-body p-2 bd-highlight">
                <h3 class="card-title">Averages</h3>
                <div class="d-flex justify-content-between flex-row bd-highlight">
                    <div>
                        <h5 class="card-title">% On Priority</h5>
                        <h6 class="card-text text-muted">{{ on_priority_perc_all_time|floatformat:2 }}</h6>
                    </div>
                    <div>
                        <h5 class="card-title">% Off Priority</h5>
                        <h6 class="card-text text-muted">{{ off_priority_perc_all_time|floatformat:2 }}</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

{% endblock %}
