<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Action List</title>
</head>
<body>
    <h1>Things I need to do:</h1>
    <table>
        {% for action in actions %}
            <tr>
                <td>{{ action.title }}</td>
                <td>{{ action.trackedTime }}</td>
                <td>{{ action.priority }}</td>
                <td>{{ action.category }}</td>
                <td>{{ action.doneStatus }}</td>
                <td><a href="{% url 'update_action' action.id %}">Update</a></td>
                <td><a href="{% url 'delete_action' action.id %}">Delete</a></td>
            </tr>
        {% empty %}
        <tr><td>You have nothing to do.</td></tr>
        {% endfor %}
    </table>
    <a href="/add-action/">Add New Action</a>
</body>
</html>