<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Action</title>
</head>
<body>
    <h1>Add an Action</h1>
    <form method="POST" action="/add-new-action/">
        {% csrf_token %}
        <div>
            <p>
                <label for="id_name">Action Title:</label>
                <input type="text" id="id_name" name="action_title" />
            </p>
        </div>
        <div>
            <p>
                <label for="id_priority">Priority:</label>
                <input type="text" id="id_priority" name="priority_title" />
            </p>
        </div>
        <div>
            <p>
                <label for="id_category">Category:</label>
                <input type="text" id="id_category" name="category_title" />
            </p>
        </div>
        <div>
            <p></p>
        </div>
        <div>
            <p>
                <button type="submit">Add Action</button>
            </p>
        </div>
    </form>
</body>
</html>