<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Categories</title>
</head>
<body>
    <h1>Add a Category</h1>
    <form method="POST" action="add-category">
        {% csrf_token %}
        <div>
            <p>
                <label for="id_name">Category Title:</label>
                <input type="text" id="id_name" name="category_title" />
            </p>
        </div>
        <div>
            <p>
                <label for="id_description">Category Description:</label>
                <input type="text" id="id_description" name="category_description" />
            </p>
        </div>
        <div>
            <p></p>
        </div>
        <div>
            <p>
                <button type="submit">Add Category</button>
            </p>
        </div>
    </form>
</body>
</html>