{% extends 'actions/main.html' %}

{% block content %}

<body>
    <h1>My Categories:</h1>
    <table class="table table-striped">
        <tr>
            <th>Category</th>
            <th>Description</th>
            <th>Options</th>
        </tr>
        {% for category in user.categories.all %}
            <tr>
                <td>{{ category.title }}</td>
                <td>{{ category.description }}</td>
                <td>
                    <a class="fa-solid fa-pen-to-square" role="button" href="{% url 'update_category' category.id %}"></a>
                    <a class="fa-solid fa-trash" role="button" href="{% url 'delete_category' category.id %}"></a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <a class="fa-solid fa-plus" role="button" href="/add-category/"></a>
</body>

{% endblock %}