{% extends 'actions/main.html' %}

{% block content %}

<body>
    <h1>My Categories:</h1>
    <table class="table table-striped">
        {% for category in user.categories.all %}
            <tr>
                <td>{{ category.title }}</td>
                <td>{{ category.description }}</td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        </button>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="{% url 'update_category' category.id %}">Update</a></li>
                          <li><a class="dropdown-item" href="{% url 'delete_category' category.id %}">Delete</a></li>
                        </ul>
                      </div>
                </td>
            </tr>
        {% endfor %}
    </table>
    <a href="/add-category/">Add New Category</a>
</body>

{% endblock %}