{% extends 'actions/main.html' %}

{% block content %}

<body>
    <div class="container d-flex p-2 justify-content-between flex-row bd-highlight">
        <h1>My Categories:</h1>
        <a class="fa-solid fa-2xl p-2 fa-square-plus" role="button" href="/add-category/"></a>
    </div>
    <div class="container d-flex p-2 flex-column bd-highlight">
    {% for category in user.categories.all %}
    <div class="d-flex p-2 flex-column bd-highlight">
        
        <div class="p-2 card bd-highlight">
            <div class="d-flex justify-content-between flex-row bd-highlight">
                <p class="bd-highlight">{{ category.title }}</p>
                <p class="bd-highlight">{{ category.description }}</p>
            </div>
            <div class="icon-outer-container">
                <div class="icon-container d-flex justify-content-end">
                    <div class="d-flex justify-content-end col-12">
                        <a class="fa-solid fa-lg p-2 fa-pen-to-square" role="button" href="{% url 'update_category' category.id %}"></a>
                        <a class="fa-solid fa-lg p-2 fa-trash" role="button" href="{% url 'delete_category' category.id %}"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
        {% endfor %}
    </div>
</body>

{% endblock %}