{% extends 'actions/main.html' %}

{% block content %}

<body>
    <div>
        {% if user_id == priority_user.id %}
        <div class="d-flex p-2 justify-content-center">
            <h1>Delete Priority Confirmation Request</h1>
        </div>
        <div class="d-flex p-2 justify-content-center">
            <p>Are you sure you want to delete "{{item}}"?</p>
        </div>
        <div class="d-flex justify-content-center mb-3 form-group p-2">
            <form action="{% url 'delete_priority' item.id %}" method="POST">
                {% csrf_token %}
                <a class="btn btn-success" href="{% url 'get_priorities_list' %}">Cancel</a>
                <button class="btn btn-danger" type="submit">Yes, Delete!</button>
            </form>
        </div>
        {% endif %}
    </div>
    <div>
        {% if user_id != priority_user.id %}
        <div class="d-flex p-2 justify-content-center">
            <h1>You do not have permission to delete "{{item}}"</h1>
        </div>
        {% endif %}
    </div>
</body>

{% endblock %}