{% extends 'actions/main.html' %}

{% block content %}

<body>
    <h1 class="d-flex p-2 justify-content-center">Using Priority Tracker</h1>
    <div>
        <div class="d-flex justify-content-center mb-3 p-2">
            <h3>Overview</h3>
        </div>
        <div class="d-flex justify-content-between mb-3 p-2">
            <p>Priority Tracker was created to help you to identify how much of
                your time is spent working on your priorities, and how mush time
                is spent on distractions. This is not intended as a todo-list to
                plan what you want to do, but to track what you are actually working
                on, and where your time is going.</p>
        </div>
        <div class="d-flex justify-content-between mb-3 p-2">
            <p>You'll be able to track your time against tasks, and allocate
                those tasks under Categories and Priorities. Priority Tracker
                will then show you what percentage of your time is spent
                On-Priority and what is spent Off-Priority.</p>
        </div>
    </div>
    <hr>
    <div>
        <div class="d-flex justify-content-center mb-3 p-2">
            <h3>Categories, Priorities and Actions</h3>
        </div>
        <div class="d-flex justify-content-between mb-3 p-2">
            <h4>Categories</h4>
        </div>
        <div class="d-flex justify-content-between mb-3 p-2">
            <p>Categories are the big rocks. Think of these as departments.
                Example Categories might be Finance, Admin, Design. Categories are
                never finished. You must add your Categories before adding your
                Priorities, in order to group your Priorities under Categories.</p>
        </div>
        <div class="d-flex justify-content-between mb-3 p-2">
            <h4>Priorities</h4>
        </div>
        <div class="d-flex justify-content-between mb-3 p-2">
            <p>Priorities are the things you want to get done, within a specific
                Category. For example, looking at the Categories above, you could
                have respective Priorities of January Payroll, Staff Handbook Update,
                Website Refresh. Each of these fall within a Category, but will at
                some piont be finished. Priorities should be created after Categories,
                in order to group Priorities uunder Categories.</p>
        </div>
        <div class="d-flex justify-content-between mb-3 p-2">
            <h4>Actions</h4>
        </div>
        <div class="d-flex justify-content-between mb-3 p-2">
            <p>Actions are the things you actually DO. You track your time
                against individual Actions. Because these Actions are grouped
                under your Priorities, you can easily see what proportion of
                time is spent on Off-Priority work. Creating and tracking
                Actions without a Priority will cause your Off-Priority
                percentage to increase.</p>
        </div>
    </div>
    <hr>
    <div>
        <div class="d-flex justify-content-center mb-3">
            <h3>Icons</h3>
        </div>
        <div class="d-flex justify-content-center mb-3">
            <p>These are the icons and their functions.</p>
        </div>
        <div class="d-flex justify-content-center mb-3 p-2">
            <div class="d-flex justify-content-between mb-3 p-2">
                <a title="Start Timer" class="fa-solid fa-lg fa-hourglass p-2 bd-highlight"></a>
                <p>Start or Stop the timer on an Action</p>
            </div>
            <div class="d-flex justify-content-between mb-3 p-2">
                <a title="Complete Action" class="fa-solid fa-lg fa-check p-2 bd-highlight"></a>
                <p>Mark an Action as Done</p>
            </div>
            <div class="d-flex justify-content-between mb-3 p-2">
                <a title="Update Action" class="fa-solid fa-lg fa-pen-to-square p-2 bd-highlight"></a>
                <p>Edit an Action, Category or Priority</p>
            </div>
            <div class="d-flex justify-content-between mb-3 p-2">
                <a title="Delete Action" class="fa-solid fa-lg fa-trash p-2 bd-highlight"></a>
                <p>Delete an Action, Category or Priority</p>
            </div>
        </div>
        <div class="d-flex justify-content-center mb-3 p-2">
            <div class="d-flex justify-content-between mb-3 p-2">
                <a title="Undo Action" class="fa-solid fa-lg p-2 fa-rotate-left"></a>
                <p>Undo an Action in order to track more time for it.</p>
            </div>
            <div class="d-flex justify-content-between mb-3 p-2">
                <a title="Relist Action for Today" class="fa-solid fa-lg fa-arrow-up-right-from-square p-2"></a>
                <p>Relist the Action for today's date, to continue working on it.</p>
            </div>
            <div class="d-flex justify-content-between mb-3 p-2">
                <a title="Set Priority Status to Active" class="fa-solid fa-lg p-2 fa-toggle-on"></a>
                <p>Set the Priority Status to Active or Inactive</p>
            </div>
        </div>
    </div>
</body>

{% endblock %}