<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>

    <form method="POST" action="">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username...">
        <input type="password" name="password" placeholder="Password...">
        <input type="submit" name="Register">
    </form>

    {% for message in messages %}
        <p>{{message}}</p>
    {% endfor %}

    <p>Don't have an account yet??</p>
    <a href="{% url 'register' %}">Register Here.</a>
</body>
</html>