<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Priority Tracker</title>
</head>
<body>
    <h1>Priority Tracker</h1>
    <span><a href="{% url 'get_priorities_list' %}">My Priorities</a></span>
    <span><a href="{% url 'get_categories_list' %}">My Categories</a></span>
    <span><a href="{% url 'get_action_list' %}">My Actions</a></span>
    <hr>

    {% block content %}



    {% endblock %}

    <hr>
    <h5>Footer Content</h5>
    
</body>
</html>