<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" type="text/css">
    <title>Password Reset Complete</title>
</head>
<body>
    <div>
        <div>
            <h3 class="d-flex p-2 justify-content-center">Password Reset Complete</h3>
        </div>
        <div>
            <p class="d-flex p-2 justify-content-center">Your password has been set. You may go ahead and log in now.</p>
        </div>
        <div>
            <a class="d-flex p-2 justify-content-center" href="/">Log In</a>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <h5>Copyright - Pieter K de Villiers 2023</h5>
    </div>
</body>
</html>
