{% extends 'actions/main.html' %}

{% block content %}

<body>
    <p>Hello, {{request.user}}</p>
    <a href="{% url 'logout' %}">Logout</a>
    <h1>My Priorities:</h1>
    <table>
        {% for priority in user.priorities.all %}
            <tr>
                <td>{{ priority.title }}</td>
                <td>{{ priority.description }}</td>
                <td>{{ priority.activeStatus }}</td>
                <td><a href="{% url 'update_priority' priority.id %}">Update</a></td>
                <td><a href="{% url 'delete_priority' priority.id %}">Delete</a></td>
            </tr>
        {% endfor %}
    </table>
    <a href="/add-priority/">Add New Priority</a>
</body>

{% endblock %}