{% extends 'actions/main.html' %}

{% block content %}

<body>
    <h1>My Priorities:</h1>
    <table class="table table-striped">
        <tr>
            <th>Priority</th>
            <th>Description</th>
            <th>Active Status</th>
            <th>Options</th>
        </tr>
        {% for priority in user.priorities.all %}
            <tr>
                <td>{{ priority.title }}</td>
                <td>{{ priority.description }}</td>
                <td>{{ priority.activeStatus }}</td>
                <td>
                    <a class="btn btn-primary" role="button" href="{% url 'update_priority' priority.id %}">Edit</a>
                    <a class="btn btn-primary" role="button" href="{% url 'delete_priority' priority.id %}">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <a class="btn btn-primary" role="button" href="/add-priority/">Add New Priority</a>
</body>

{% endblock %}