<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Action</title>
</head>
<body>
    <p>Hello, {{request.user}}</p>
    <a href="{% url 'logout' %}">Logout</a>
    <h1>Update an Action</h1>

    <form method="POST" action="">
        {% csrf_token %}

        {{actionform}}
        
        <input type="submit" name="Update Action">
    </form>

</body>
</html>